{% extends "base.html" %}
{% block content %}
  <main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css" integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />

    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12 pa-0">
                <div class="faq-search-wrap bg-teal-light-3">
                    <div class="container">
                        <h1 class="display-5 text-white mb-20">FAQs</h1>

                                <h3 class="card-header border-bottom-0">
                                                FREQUENTLY ASKED QUESTIONS
                                            </h3>
                                <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between activestate">
                                            <a role="button" data-toggle="collapse" href="#collapse_1i" aria-expanded="true">WHO CAN USE THIS PROGRAMM?</a>
                                        </div>
                                        <div id="collapse_1i" class="collapse show" data-parent="#accordion_2" role="tabpanel">
                                            <div class="card-body pa-15"> This programm is free accesible for all the scientific community that needs a tool to analise the GWAS association catalog for the european population (version 1.0 - 2019-09-24). Currently, all od the tools are open to the community, except for the genes search engine, which is still in Beta testing phase, and can only be accesed by previous registration in the web page.  </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">HOW WAS THIS PROGRAMM BUILDED?</a>
                                        </div>
                                        <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15">This programm was written in Python, HTML, Bootstrap, javascript and CSS. For his conception, the Django framework was used code all the functionalities. A SQLite database was created in order to store and manipulate the information here presented. </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_3i" aria-expanded="false">HOW DOES THIS PROGRAMM WORKS?</a>
                                        </div>
                                        <div id="collapse_3i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15"></div>You can search in the SNPs database using the different tools of the programm, each one allowing you to search by different criterias. DISEASE-TO-SNPS will allow you to search an specifi disease and retrieve all the SNps related to that disease. SNP-SEARCH will allow you to find an specific SNP by the RSID, or search by chromosomes the differents SNPs that might be located in specific regions. GENE-TO-SNP, its tool that its for the moment in BETA TESTING phase, and can be accesed by previous registration. This tool will allow you to recover all the SNP that are related to an specific gene.
                                            Finally you will be able to explore the differents data tables that compose this programm.
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
        </div>
    </div>
        
</section>
</main>
{% endblock %}