{% extends "base.html" %}
{% block content %}
  <main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css" integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />

    <div class="container-fluid">
        <!-- Row -->
        <div class="row">
            <div class="col-xl-12 pa-0">
                <div class="faq-search-wrap bg-teal-light-3">
                    <div class="container">
                        <h1 class="display-5 text-white mb-20">FAQs</h1>

                                <h3 class="card-header border-bottom-0">
                                                FREQUENTLY ASKED QUESTIONS
                                            </h3>
                                <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between activestate">
                                            <a role="button" data-toggle="collapse" href="#collapse_1i" aria-expanded="true">WHO CAN USE THIS PROGRAMM?</a>
                                        </div>
                                        <div id="collapse_1i" class="collapse show" data-parent="#accordion_2" role="tabpanel">
                                            <div class="card-body pa-15"> This programm is free accesible for all the scientific community that needs a tool to analise the GWAS association catalog for the european population (version 1.0 - 2019-09-24). Currently, all od the tools are open to the community, except for the genes search engine, which is still in Beta testing phase, and can only be accesed by previous registration in the web page.  </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">HOW WAS THIS PROGRAMM BUILDED?</a>
                                        </div>
                                        <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15">This programm was written in Python, HTML, Bootstrap, javascript and CSS. For his conception, the Django framework was used code all the functionalities. A SQLite database was created in order to store and manipulate the information here presented. </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_3i" aria-expanded="false">HOW DOES THIS PROGRAMM WORKS?</a>
                                        </div>
                                        <div id="collapse_3i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15"></div>K;LKLKLK;K;KLK;K
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_4i" aria-expanded="false">HOW DO I CONTACT THE CREATORS OF THE PROGRAMM?</a>
                                        </div>
                                        <div id="collapse_4i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15">;LKL;K;K;KKL;K;</div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_5i" aria-expanded="false">KLJLJKLJKJLJ</a>
                                        </div>
                                        <div id="collapse_5i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15">KL;OL;M;JKIOLK;JOIK;LJ;</div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_6i" aria-expanded="false">REPORT A PROBLEM</a>
                                        </div>
                                        <div id="collapse_6i" class="collapse" data-parent="#accordion_2">
                                            <div class="card-body pa-15">KLJLKJLKJLKJ;'L'PL</div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
        </div>
    </div>
        
</section>
</main>
{% endblock %}