{% extends "base.html" %}
    {% block content %}
    <main>
        <section class="hero text-light text-center">
            <div class="container-sm">
                <div class="hero-inner">
                    {% if user.is_authenticated %}
                    <h1 class="hero-title h2-mobile mt-0 is-revealing">Gene search (BETA)</h1>
                    <p class="hero-paragraph is-revealing">Bioinformatics tool to explore an SNPs Database.</p>
                    <div class="feature-extended-image is-revealing">
                        <form id = "diseaseForm" class = "form" action="{% url 'genesearchresult' %}" onsubmit="return validateForm()" method="GET">
                            {% csrf_token %}
                              <p>
                              <label for="disease">Enter a Gene </label>
                              <input type="text" name="gene" id="gene" value= '{% if submitbutton == "Submit" %} {{ gene }} {% endif %}'/>
                              </p>
                              <p>
                              <input type="reset" value="Clear" id = "reset">
                              <button type = "submit">submit</button>
                              </p>
                            </form>
                            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
                            <script>
                              $(function () {
                                    $("#gene").autocomplete({
                                        minLength: 2,
                                        source: "{% url 'autocomplete_gene' %}",
                                    });
                                });
                            
                              </script>
                            
                             <script>
                            function validateForm() {
                                var a = document.getElementById("gene");
                                if (a.value == null || a.value == "" ) {
                                  alert("Please Fill All Required Field");
                                  return false;
                                }
                              }
                            
                             </script>
                            {% else %}
                            <h1>You must be Logged in to see this site</h1>
                            <a href="{% url 'login' %}">Login here</a> or <a href="{% url 'register_user' %}">Sign up here</a>
                            {% endif %}
                            </section>
                            </main>
                            
    {% endblock %}